.container {
  width: 1460px;
  height: 620px;
  background: linear-gradient(to left bottom, purple, violet, yellow);
  padding: 10px;
}

.parent .main_navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
}

.parent .main_navbar .nav_tex {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.parent .main_navbar .navbar {
  display: flex;
  gap: 100px;
  color: white;
  font-weight: 600;
  margin-right: 25px;
}

.parent .main_navbar .navbar a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.main {
  width: 400px;
  height: 200px;
  margin-top: 90px;
}

.main .main_header {
  font-size: 62px;
  font-weight: 600;
  color: white;
}

.main .header_text {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 15px;
}

.main .text {
  font-size: 14px;
  color: white;
  margin-top: 15px;
}
/* .main_addres {
  width: 90px;
  height: 22px;
  background-color: black;
} */

.main_addres .add_botton {
  background: linear-gradient(to right, crimson, rgb(255, 213, 0));
  width: 100px;
  height: 25px;
  border-radius: 12px;
  border: none;
  margin-top: 40px;
  color: white;
}

.main_rasm .rasm_potter {
  width: 400px;
  height: 400px;
  margin: 70px;
  border-radius: 50%;
}

.main_cont {
  display: flex;
  justify-content: space-around;
}
.foteer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.foteer .fot_icons {
  margin-left: 680px;
  gap: 15px;
  display: flex;
}

.foteer .fot_share {
  display: flex;
  gap: 15px;
  color: white;
  font-size: 18px;
}
