* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(244, 229, 229);
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.nav_child1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}

.nav_child2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(206, 215, 111);
}

.nav_child3 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
}

.parent {
  width: 90%;
  height: 650px;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "birinchibox birinchibox"
    "ikkinchibox uchunchibox"
    "ikkinchibox tortinchibox";
  gap: 25px;
  margin: 25px auto 100px auto;
}

.logo {
  background: rgb(215, 212, 212);
  grid-area: birinchibox;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo_header {
  font-size: 35px;
  margin-left: 25px;
  font-weight: 600;
}

.icon_box {
  display: flex;
  gap: 20px;
  margin-right: 35px;
}

.logo_icon {
  width: 80px;
  height: 10px;
  background: rgb(133, 129, 129);
  border-radius: 5px;
}

.side {
  background: rgb(215, 212, 212);
  grid-area: ikkinchibox;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.main {
  background: rgb(215, 212, 212);
  grid-area: uchunchibox;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.foot {
  background: rgb(215, 212, 212);
  grid-area: tortinchibox;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.container_box2 {
  width: 60%;
  height: 700px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1.5fr 2fr 4fr 3fr;
  grid-template-rows: 1fr 3fr 2fr 3fr 1fr;
  grid-template-areas:
    "Header Header Header Header"
    "Nav left center right"
    "Nav middle middle middle"
    "Nav lower lower lower"
    "sticky sticky sticky sticky";
  margin: 25px auto 25px auto;
}

.box1 {
  background-color: rgb(206, 199, 199);
  grid-area: Header;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.box2 {
  background-color: rgb(230, 208, 49);
  grid-area: Nav;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.box3 {
  background-color: grey;
  grid-area: left;
  border: 1px solid black;
  margin: 4px 5px 6px 6px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.box4 {
  background-color: red;
  grid-area: center;
  border: 1px solid black;
  margin: 4px 5px 6px 6px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.box5 {
  background-color: rgb(203, 197, 197);
  grid-area: right;
  border: 1px solid black;
  margin: 4px 5px 6px 6px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.box6 {
  background-color: rgb(113, 113, 238);
  grid-area: middle;
  border: 1px solid black;
  margin: 0px 5px 6px 6px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.box7 {
  background-color: rgb(155, 92, 92);
  grid-area: lower;
  border: 1px solid black;
  margin: 0px 5px 6px 6px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.box8 {
  background-color: yellow;
  grid-area: sticky;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

.container_box3 {
  width: 80%;
  height: 200px;
  margin: auto;
  border: 3px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "first first second"
    "threeth fourth fifth"
    "threeth sixth seventh";
}

.first {
  background-color: rgb(135, 180, 77);
  border: 3px solid green;
  grid-area: first;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.second {
  background-color: rgb(135, 180, 77);
  border: 3px solid green;
  grid-area: second;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.threeth {
  background-color: rgb(135, 180, 77);
  border: 3px solid green;
  grid-area: threeth;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.fourth {
  background-color: rgb(135, 180, 77);
  border: 3px solid green;
  grid-area: fourth;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.fifth {
  background-color: rgb(135, 180, 77);
  border: 3px solid green;
  grid-area: fifth;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.sixth {
  background-color: rgb(135, 180, 77);
  border: 3px solid green;
  grid-area: sixth;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.seventh {
  background-color: rgb(135, 180, 77);
  border: 3px solid green;
  grid-area: seventh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
