* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  height: 90vh;
  /* background-color: yellow; */
  border: 2px solid blue;
  margin: auto;
}

.sale {
  /* width: 1440px; */
  height: 40px;
  flex-shrink: 0;
  /* background-color: yellow; */
  color: #000;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sale_holiday {
  color: #997f72;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar {
  /* width: 1440px; */
  height: 48px;
  flex-shrink: 0;
  background: #2c2c2e;
  display: flex;
  justify-content: center;
  gap: 45px;
  color: var(--primary-white, #fff);
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}

.nav_picture1 {
  width: 30px;
  height: 30px;
}
